* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #e3fdfd;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}

.pull-right {
    float: right;
}
